<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WMPLogEntities" connectionString="Data Source=tech-head-warehouse.database.windows.net;Initial Catalog=TH_WarehouseLog;User ID=TechHeadWH;Password=TeCh|-|e@d\/\/|-|" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>